@using Microsoft.AspNetCore.Mvc.Localization
@using CarpetProject.Localization
@inject IHtmlLocalizer<CarpetProjectResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
